[Unit]
Description=x-ui
After=network.target
[Service]
Type=simple
User=root
ExecStart=/x-ui/main
ExecStop=/usr/bin/kill -15 $MAINPID
Restart=on-failure
[Install]
WantedBy=multi-user.target